html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    /*background-color: darkgray;*/
}

html, body {
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
}

#left-pane {
    display: flex;
    flex: 1;
    background-image: url('images/leaves.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#right-pane {
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100vh;
}

#logo-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    max-height: 12%;
    width: auto;
    position: relative;
    top: 30%;
    background-color: rgb(0, 0, 0, 0.4);
}

#logo-container h1 {
    font-family: odin-font;
    color: white;
}

#right-pane-top {
    display: flex;
    flex: 1;
    background-color: lightgrey;
}

#right-pane-top-text {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 15vw;
}

#right-pane-top-text p {
    font-weight: bold;
}

#sign-up-form {
    display: flex;
    flex: 1;
    background-color: white;
}

#right-pane-bottom {
    display: flex;
    flex: 1;
    background-color: lightgray;
}